{
  "branches": ["main", "next"],
  "plugins" : {
    "@semantic-release/commit-analyzer",
    "@semantic-release/npm",
    [
      "@semantic-release/release-notes-generator", {
        "preset": "conventional-changelog",
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["CHANGELOG.md"]
      }
    ]
  }
}
