@import 'tailwindcss';
@config '../tailwind.config.ts';

/* TODO: Temporary not working
https://github.com/tailwindlabs/tailwindcss/discussions/13292
@import '../node_modules/tailwind-scrollbar-hide/src/index.js'; 
@import 'tailwind-scrollbar-hide'; 
*/

body {
  @apply bg-gray-100;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

/** GitHub Corners */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

.github-corner svg {
  fill: #151513;
  color: #fff;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
