@utility scrollbar-hide {
  /* Firefox */
  scrollbar-width: none;
  
  /* Safari and Chrome */
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility scrollbar-default {
  /* Firefox */
  scrollbar-width: auto;
  
  /* Safari and Chrome */
  &::-webkit-scrollbar {
    display: block;
  }
} 